/* Home page mobile */

.hero {
  .card-content {
    padding: 2.25em 2.25em 0;

    h2 {
      margin-bottom: 1.25rem;
    }

    p {
      color: white;
      font-size: 1rem;
      line-height: 1.5;
    }

    img {
      position: relative;
      top: 2px;
    }
  }
}

.about {
  .card-content {
    h3 {
      margin-bottom: 0;
    }

    ul {
      li {
        margin-top: 2rem;
        font-size: 0.75rem;
        text-transform: uppercase;

        p {
          margin-top: 1rem;
          text-transform: initial;
        }
      }
    }

    span {
      display: block;
      margin-top: 1.5rem;
      font-size: 0.75rem;
      color: #eee;
    }
  }
}

.approach {
  .card-content {
    display: grid;
    text-align: center;

    h3 {
      line-height: 1;
      margin: 2.25rem 0 1.5rem;
    }

    img {
      margin: 0 auto;
      order: -1;
      width: 80px;
      height: 80px;
      scale: 2.25;
    }
  }
}

.studies {
  .card-content {

    h3 {
      margin-bottom: 1.5rem;
    }

    ul {
      li {
        display: grid;
        font-size: 1.125rem;

        .period {
          order: 1;
          text-align: right;

          time {
            padding-right: 0.25rem;
            font-size: 0.75rem;
            color: white;
          }
        }
      }

      li + li {
        margin-top: 2rem;
      }
    }
  }
}

.tools {
  .card-content {
    display: grid;
    text-align: center;
    padding: 2.5rem;

    h3 {
      order: 0;
      margin: 2rem auto;
      line-height: 1;
    }

    .top, .bottom {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 0 2rem;

      li {
        img {
          object-fit: contain;
          max-height: 1.5rem;
        }
      }
    }

    .top {
      order: -1;

      li:nth-of-type(2), li:nth-of-type(4) {
        margin-top: 1.5rem;
      }
    }

    .bottom {
      order: 1;

      li:nth-of-type(1), li:nth-of-type(3), li:nth-of-type(5) {
        margin-top: 1.5rem;
      }
    }
  }
}

.code {
  .card-content {
    padding: 2rem 0 0 1.5rem;

    .code__container {
      margin-top: 1.25rem;
      padding: 1rem 1.5rem 1rem 2rem;
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      border-left: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 1.5rem 0 0 0;
      background-image: linear-gradient(180deg, rgba(53, 73, 252, 0), rgba(53, 73, 252, 0.05));
    }
  }
}

.responsive {
  .card-content {
    padding-bottom: 0;

    .responsive__container {
      img {
        margin-top: 1rem;
        min-height: 200px;
      }
    }
  }
}

.stats {
  .card-content {
    padding: 2rem;
    text-align: center;

    ul {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;

      li {
        font-size: 1.125rem;

        span {
          position: relative;
          top: -0.175rem;
          left: 0.175rem;
        }
      }
    }
  }
}

.project {
  .card-content {
    padding: 3rem 2rem 2rem;
    text-align: center;

    p {
      margin: 1rem auto 1.5rem;
    }

    .project__mockup {
      position: relative;
      border-radius: 2rem;

      img {
        position: relative;
      }

      &__img {
        margin: 1rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
        background-color: #fff;
        border-radius: 2rem;
        overflow: scroll;
        scrollbar-width: none;
      }
    }
  }
}

.projects {
  .card-content {
    padding: 2rem 0 0;

    h3 {
      text-align: center;
      margin-bottom: 2rem;
    }

    ul {
      li {
        a {
          display: block;
          padding: 1.5rem 2rem 0;
          border-top: 1px solid rgba(255, 255, 255, 0.15);

          .projects__title {
            display: block;
            font-size: 1rem;
          }

          .projects__text {
            display: block;
            margin: 0.75rem 0 1rem;
            font-size: 0.875rem;
            color: #9A96AE;
          }

          .projects__img {
            position: relative;
            bottom: -2px;
            border-radius: 0.5rem 0.5rem 0 0;
          }
        }
      }
    }
  }
}

.contact {
  .card-content {
    padding: 2rem 1.5rem 1rem;
  }

  &__title {
    margin: 0.75rem 0 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    color: white;
  }

  &__text {
    border: 1px solid #352E46;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
  }

  &__img {
    margin: 0 auto;
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  &__form {
    margin-top: 1.5rem;

    .error {
      margin: 1.5rem auto 2rem;
      padding: 1.25rem;
      border-radius: 0.75rem;
      border: 1px solid #ff3e3e;
      background-color: #0A0118;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 1rem;

      img {
        width: 3rem;
      }

      p {
        text-align: center;
        font-weight: 500;
        color: #ff3e3e;
      }
    }

    .success {
      margin: 1.5rem auto 2rem;
      padding: 1.25rem;
      border-radius: 0.75rem;
      border: 1px solid #009f0e;
      background-color: #0A0118;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 1rem;

      p {
        text-align: center;
        font-weight: 500;
        color: #009f0e;
      }
    }

    .contact__info {
      &__field {
        display: flex;
        flex-direction: column;

        label {
          position: relative;
          top: 0;
          left: 1.5rem;
          width: fit-content;
          font-size: 1rem;
          font-weight: 500;

          span {
            margin-left: 0.25rem;
          }
        }

        input, textarea {
          margin: 0.5rem 0 1.5rem;
          padding: 1rem 0 1rem 1.5rem;
          color: #9A96AE;
          background-color: #080117;
          border-radius: 1.5rem;
          border: 1px solid #352E46;
        }

        input:focus, textarea:focus {
          outline: none;
          border: 1px solid whitesmoke;
        }

        textarea {
          resize: none;
          margin-bottom: 1rem;
          border-radius: 1rem;
          font-family: "SF Pro Display", "SF Pro Icons", "Inter Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }

        p {
          margin: -1.15rem auto 1.75rem 1rem;
          color: #ff3e3e;
        }
      }
    }

    .contact__footer {
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
        font-size: 0.94rem;
        font-weight: 500;
        cursor: pointer;
        color: white;
        background-color: #080117;
        border-radius: 2rem;
        border: 1px solid #352E46;
        transition: all 0.2s;
      }

      button span:last-of-type {
        display: block;
        margin-right: 1rem;
        transition: all 0.3s ease-in-out;
      }

      button svg {
        display: block;
        height: 1.25rem;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }

      button:hover .svg-wrapper {
        animation: fly-1 0.5s ease-in-out infinite alternate;
      }

      button:hover svg {
        transform: translateX(-0.5em) rotate(45deg) scale(1.1);
      }

      button:hover span:last-of-type {
        transform: translateX(0.5em);
      }

      button:active {
        transform: scale(0.95);
      }

      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }

        to {
          transform: translateY(-0.1em);
        }
      }
    }
  }
}

.twitter {
  .card-content {
    padding: 2rem 1.5rem 1.5rem;
  }

  &__img {
    width: 2rem;
  }

  &__infos {
    margin: 2.5rem 0 2rem;
    display: grid;
    grid-template-columns: 1fr 100px;

    p, span {
      font-size: 0.875rem;
      font-weight: 500;
      color: whitesmoke;
    }

    img {
      grid-row: 1/3;
      grid-column: 2/3;
      margin: 0 0 0 auto;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }
}

.github {
  .card-content {
    padding: 1.5rem;
  }

  &__container {
    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        padding: 1.125rem;
        width: 2.625rem;
        height: 2.625rem;
        border-radius: 0.65rem;
        border: 1px solid #352E46;
      }

      span {
        margin-top: 0.75rem;
        padding-left: 1rem;
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }

    .title {
      margin-top: 2rem;
      font-size: 1.25rem;
      font-weight: 500;
      color: white;
    }
  }
}
