/* Form part */

.contact__form {
  margin-top: 1.5rem;

  .error {
    margin: 1.5rem auto 2rem;
    padding: 1.25rem;
    border-radius: 0.75rem;
    border: 1px solid #ff3e3e;
    background-color: #0A0118;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;

    img {
      width: 3rem;
    }

    p {
      text-align: center;
      font-weight: 500;
      color: #ff3e3e;
    }
  }

  .success {
    margin: 1.5rem auto 2rem;
    padding: 1.25rem;
    border-radius: 0.75rem;
    border: 1px solid #009f0e;
    background-color: #0A0118;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;

    p {
      text-align: center;
      font-weight: 500;
      color: #009f0e;
    }
  }

  .contact__info {
    &__field {
      display: flex;
      flex-direction: column;

      label {
        position: relative;
        top: 0;
        left: 1.5rem;
        width: fit-content;
        font-size: 1rem;
        font-weight: 500;

        span {
          margin-left: 0.25rem;
        }
      }

      input, textarea {
        margin: 0.5rem 0 1.5rem;
        padding: 1rem 0 1rem 1.5rem;
        color: #9A96AE;
        background-color: #080117;
        border-radius: 1.5rem;
        border: 1px solid #352E46;
      }

      input:focus, textarea:focus {
        outline: none;
        border: 1px solid whitesmoke;
      }

      textarea {
        resize: none;
        margin-bottom: 1rem;
        border-radius: 1rem;
        font-family: "SF Pro Display", "SF Pro Icons", "Inter Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      }

      p {
        margin: -1.15rem auto 1.75rem 1rem;
        color: #ff3e3e;
      }
    }
  }

  .contact__footer {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1rem;
      font-size: 0.94rem;
      font-weight: 500;
      cursor: pointer;
      color: white;
      background-color: #080117;
      border-radius: 2rem;
      border: 1px solid #352E46;
      transition: all 0.2s;
    }

    button span:last-of-type {
      display: block;
      margin-right: 1rem;
      transition: all 0.3s ease-in-out;
    }

    button svg {
      display: block;
      height: 1.25rem;
      transform-origin: center center;
      transition: transform 0.3s ease-in-out;
    }

    button:hover .svg-wrapper {
      animation: fly-1 0.5s ease-in-out infinite alternate;
    }

    button:hover svg {
      transform: translateX(-0.5em) rotate(45deg) scale(1.1);
    }

    button:hover span:last-of-type {
      transform: translateX(0.5em);
    }

    button:active {
      transform: scale(0.95);
    }

    @keyframes fly-1 {
      from {
        transform: translateY(0.1em);
      }

      to {
        transform: translateY(-0.1em);
      }
    }
  }
}