/* Single project : Mobile & Desktop */

.card {
  height: fit-content;
  padding: 1px;
}

main {
  display: block;
  padding: 0;
}

.project {
  padding: 2rem 0 0;

  .back {
    position: relative;
    top: -1rem;
    left: 3rem;
    display: inline-flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;

    svg {
      margin-right: 0.65rem;
    }
  }

  span {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
  }

  &__span {
    display: block;
    margin: 2rem auto 1.5rem;
    padding: 0 2rem;
    text-align: center;
  }

  h2 {
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;

    a {
      color: whitesmoke;
      padding: 0 0.5rem;
      text-align: center;
      font-size: 2rem;
      line-height: 1.5;
      background: linear-gradient(180deg, #ffffff 25%, #b9b9b9 100%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  section {
    position: relative;
    margin-top: 3.25rem;
    padding: 3rem 1.5rem 2rem;
    border-top: 1px solid #352E46;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h3 {
      margin-left: 1.5rem;
      font-size: 1.25rem;
    }

    .card-content {
      padding: 2rem;
      border-radius: 1.5rem;

      span {
        line-height: 2;
      }

      a {
        font-size: 0.875rem;
      }
    }

    .card:first-of-type {
      ul {
        li {
          display: grid;
          grid-template-columns: 4rem 1fr;
          gap: 3rem;
          align-items: baseline;
        }

        li + li {
          margin-top: 2.5rem;
        }
      }
    }

    .card:nth-of-type(2) {
      p {
        margin-top: 0.5rem;
      }
    }

    .card:nth-of-type(3) {
      ul {
        li {
          display: flex;
          flex-direction: column;
          gap: 0;
        }

        li + li {
          margin-top: 2rem;
        }
      }
    }

    .card-content + .card-content {
      margin-top: 1.5rem;
    }
  }

  .gallery {
    margin: 2rem 0;
    padding: 0;
    border: none;
    border-radius: 0;

    ul {
      padding: 0;

      li {
        padding: 0;

        img {
          margin: 0.75rem auto;
          width: auto;
          min-height: 499px;
          max-height: 500px;
          border-radius: 1rem;
        }
      }

      li:first-of-type {
        img {
          position: relative;
          transform: translateX(1rem);
          width: calc(100% - 2rem);
        }
      }

      li:nth-of-type(2) {
        img {
          position: relative;
          transform: translateX(1.5rem);
          width: 200%;
        }
      }

      li:nth-of-type(3) {
         img {
           position: relative;
           transform: translateX(calc(-50% - 1.5rem));
           width: 200%;
         }
       }
    }
  }
}

@media screen and (min-width: 1250px) {
  .project {
    padding: 12rem 0 0;

    .back {
      top: -2rem;
      left: 5.5rem;
    }

    span {
      font-size: 1rem;
    }

    &__span {
      margin: 2rem auto;
      text-align: center;
    }

    h2 {
      margin: 0 auto;
      padding: 0 10rem;
      font-size: 5rem;
      line-height: 1.15;
      max-width: 1000px;

      a {
        font-size: 5rem;
        line-height: 1.15;
      }
    }

    p, time {
      font-weight: 400;
    }

    section {
      margin-top: 8rem;
      padding: 7.5rem 10rem 3.5rem;
      display: grid;
      grid-template-columns: 1fr 325px;
      gap: 1.5rem;
      border-radius: 4rem 4rem 0 0;

      h3 {
        grid-column: 1/3;
        margin-bottom: 0.5rem;
        font-size: 2rem;
      }

      .card-content {
        padding: 2rem 4rem;
        height: fit-content;

        span {
          font-size: 0.75rem;
          line-height: 1;
        }

        a {
          font-size: 1rem;
        }
      }

      .card:first-of-type {
        grid-column: 1/3;

        ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

          li {
            display: flex;
            flex-direction: column;
            gap: 0 3.5rem;

            p {
              margin-top: 1rem;
              max-width: 100px;
            }
          }

          li + li {
            margin-top: 0;
          }
        }
      }

      .card:nth-of-type(2) {
        .card-content {
          padding: 3rem 4rem 2rem;
        }

        p {
          margin-top: 1rem;
          max-width: 600px;
        }
      }

      .card:nth-of-type(3) {
        .card-content {
          padding: 3rem 3rem 1.25rem;
        }
        ul {
          li {
            p {
              margin-top: 0.75rem;
            }
          }
        }
      }
    }

    .gallery {
      display: block;
      margin: 0 auto;
      padding: 0 10rem 3rem;

      ul {
        display: grid;
        grid-template-columns: 325px 1fr;
        align-items: center;
        gap: 2rem;

        li {
          img {
            margin: 0;
            transform: translateX(0);
            width: 100%;
            min-height: 599px;
            max-height: 600px;
            border-radius: 1rem;
          }

          img:hover {
            zoom: 1;
          }
        }

        li:first-of-type {
          img {
            transform: translateX(0);
            width: 100%;
          }
        }

        li:nth-of-type(2) {
          img {
            transform: translateX(0);
            width: 100%;
          }
        }

        li:nth-of-type(3) {
          grid-column: 1/3;

          img {
            transform: translateX(0);
            width: 100%;
          }
        }
      }
    }
  }
}