/* Renaud Vmb */

@import "variables";
@import "../effects/cards";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "SF Pro Display", "SF Pro Icons", "Inter Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  min-width: 320px;
  max-width: 500px;
  color: white;
  background-color: #0A0118;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeSpeed;
}

main {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row;
  gap: 1.5rem 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.25;

  span {
    font-weight: 600;
  }
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.8;
}

h4 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2;
  color: #9A96AE;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #0A0118;
}

.basic {
  margin-top: 2rem;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1rem 3rem;
  color: white;
  background-color: #080117;
  border-radius: 2rem;
  border: 1px solid #352E46;
}

.basic:hover {
  color: whitesmoke;
  background-color: #211a34;
}

abbr {
  text-decoration: none;
  border-bottom: 1px dotted #222;
}

.none {
  display: none;
}

.hide {
  display: block;
}

/* ----------------------
      Media queries
------------------------ */
@media (min-width: 1250px) {
  .none {
    display: block;
  }

  .hide {
    display: none;
  }

  body {
    margin: 0 auto;
    min-width: 1200px;
    max-width: 2000px;
  }

  main {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, auto);
    gap: 1.5rem;
    grid-template-areas:
    "hero hero hero hero"
    "about about approach approach"
    "about about studies studies"
    "tools tools studies studies"
    "code code responsive responsive"
    "stats stats contact contact"
    "project projects contact contact"
    "twitter github github github";
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;

    span {
      font-weight: 500;
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.333;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
  }

  .hero {grid-area: hero;}
  .about {grid-area: about;}
  .tools {grid-area: tools;}
  .approach {grid-area: approach;}
  .studies {grid-area: studies;}
  .code {grid-area: code;}
  .responsive {grid-area: responsive;}
  .stats {grid-area: stats;}
  .contact {grid-area: contact;}
  .project {grid-area: project;}
  .projects {grid-area: projects;}
  .twitter {grid-area: twitter;}
  .github {grid-area: github;}
}